# Mantén las exclusiones generales para mantener el repositorio limpio
.utmp/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Asegúrate de incluir la carpeta Assets completa
!Assets/
!Assets/**

# Asegúrate de incluir los archivos meta necesarios
!*.meta

# Mantén las exclusiones específicas útiles
/[Mm]emoryCaptures/
/[Rr]ecordings/
.vs/
.gradle/

# Ignora los archivos de solución y proyecto autogenerados
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Builds
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app